
body{
  background-color:lightcoral;
}

.navbar{
background-color:aqua;
height: 90px;
z-index: 100000;
position:fixed ;
width: 1520px;
 

} 
.headername{
  font-weight: bold;
  font-size: x-large;
  font-family: 'Times New Roman';
  color:black;
}
/* .navbar{
  overflow: hidden;
  background-color:aqua;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
} */

